:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #242424;
  --swiper-theme-color: #000;
}

.swiper-notification{
  display: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

[class$="__button"]{
  position: relative;
  z-index: 2;
  padding: .6rem;
  text-decoration: none;
  display: block;
  width: 100%;
  margin: 0 auto 2rem auto;
  border: 1px solid white;
  border-radius: 18px;
  color: white;
  transition: color 1s ease;
  transition: background-color 1s ease;
  transition: border 1s ease;
}
@media (min-width:768px) {
  [class$="__button"]{
    width: 12rem;
  }
}
[class$="__button"]:hover{
  color:#aa6423;
  border: 1px solid #aa6423;
  background-color: #aa642329;
}


.color--naranja{
  color: #aa6423;
}
.color--verde{
  color: #3c8282;
}
.bolder{
  font-weight: bolder;
}
header{
  height: 100vh;
}
.nav{
  position: relative;
  z-index: 2;
  padding: 3rem 3rem 0 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media (min-width:768px) {
  .nav{
    justify-content: end;
  }
}
.header{
  position: relative;
  height: 100vh;
  padding: 0 3rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
@media (min-width:768px) {
  .header{
    align-items: start;
    justify-content: space-around;
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.549);
  z-index: 1;
  backdrop-filter: blur(1px);
  pointer-events: none;
}
.overlay .nav {
  pointer-events: auto;
}
header video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  padding: 0
}


.header__imagen {
  width: 15rem;
  height: 15rem;
}

.header__heading span{
  color: #aa6423;
}

.header__frase{
  margin: 0;
  padding: 0;
  line-height: 1;
  
  font-size: 7rem;
  text-align: center;
}
@media (min-width:768px) {
  .header__heading, .header__p {
    text-align: left;
  }
  .header__frase{
    text-align: right;
    font-size: 10rem;    
  }

}

.header__frase span{
  color: #ff8426;
}
.main{
  padding: 3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
  background: radial-gradient(circle,rgba(22, 22, 23, 1) 0%, rgba(101, 166, 159, 1) 0%, rgba(22, 22, 23, 1) 100%);
}
@media (min-width:768px) {
  .main{
    padding: 7rem 3rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
  }
  
}
.main__text{
  padding: 4rem;
  max-width: 40rem;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.15);  
  border-radius: 25px;
  position: relative;
}
.main__heading{
  font-size: 3.4rem;
  font-weight: 300;
}
.main__text p{
  font-size: 1.6rem;
  
}
.main__heading--bold{
  font-weight: bold;
}
.main__imageContein{
  max-width: 40rem;
}

.main__image{
  width: 100%;
  height: 30rem;
  border-radius: 25px;
}
.main__imageContein--heading{
  font-size: 2.2rem;
}

.main__button{
  border: 1px solid white;
  color: white;
} 

.soluciones{
  padding: 7rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background: linear-gradient(86deg,rgba(255, 132, 38, 1) 19%, rgba(22, 22, 23, 1) 53%, rgba(22, 22, 23, 1) 0%);
}
@media (min-width:768px) {
  .soluciones{
    flex-direction: row;
  }

}
.soluciones__heading{
  font-size: 4rem;
  text-align: center;
  color: #FFFF;
}
.soluciones__logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width:768px) {
  .soluciones__logos{
    width: 40rem;
  }
}
.soluciones__logo{
  width: 15rem;
  height: 15rem;
}
.soluciones__logos--power{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: black;
}
.soluciones__text{
  max-width: 70rem;
  padding: 3rem;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.15);
  border-radius: 25px;
}
.soluciones__text div{
  margin-top:3rem;
}
.soluciones__text div:first-of-type{
  margin-top:0;
}
.soluciones__text--heading{
  font-size: 2.4rem;
  
}
.soluciones__text--p{
  font-size: 1.4rem;
}
.dashboard{
  background-color: #3c8282;
  padding: 0 3rem;
}
.dashboard__heading{
  color: #3c8282;
  font-size: 4rem;
  text-align: center;
  background-color:#e4e0d7 ;
  margin: 0;
  padding-top: 2rem;
}
.dashboard__flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color:#e4e0d7 ;
  gap: 3rem;
}
@media (min-width:768px) {
  .dashboard__flex{
    flex-direction: row;
    align-items: none;
  }
  
}
.dashboard__text{
  max-width: 40rem;
  padding: 2rem;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  color: #3c8282;
}
.dashboard__text h4{
  font-size: 2rem;
}
.dashboard__text p, .dashboard__text ul{
  font-size: 1.4rem;
}
.dashboard__gallery{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 40rem;
  border-radius: 25px;
  overflow: hidden;

}
.dashboard__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  backdrop-filter: blur(1px);
  pointer-events: none;
}

.dashboard__gallery video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  z-index: 0;
  padding: 0;
  
}
.dashboard__info{
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  padding: 0 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}


.dashboard__anchor{
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  transition: transform 1s ease;
}
.dashboard__anchor:hover{
  transform: scale(1.1);
}
.galeria{
     padding: 3rem;
     background: radial-gradient(circle,rgba(170, 100, 35, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(170, 100, 35, 1) 100%);
}
.galeria__header{
  text-align: center;
  font-size:3rem;
}
.galeria__flex{
  display: flex;
  flex-direction: column;
}
@media (min-width:768px) {
  .galeria__flex{
   
    flex-direction: row;
    gap: 3rem;
  }
}
.galeria__swip{
  max-width: 80rem;
;
}
.galeria__imagen{
  width: 100%;
  height: ;
  margin: 0 auto;
  border-radius: 25px;
}
.galeria__texto h3{
  font-size: 2rem;
}
.galeria__texto{
  line-height: 1.5;
}
.galeria__texto p{
  font-size: 1.4rem;
}
.swiper-wrapper{
  align-items: center;
}





/* Team */
.team{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(331deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(60, 130, 130, 1) 100%);
}
@media (min-width:768px) {
  .team{
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
  }
}
.team__text{
  max-width: 25rem;
  line-height: 1.4lh;
}
.team__heading{
  margin-top: 0;
  font-size: 4rem;
  line-height: 1;
}
.team__text p{
  font-size: 1.5rem;
  font-weight: 200;
}
.team__img{
  display: flex;
  max-width: 40rem;
}
.team__imgCirculo{
  display: none;
}
@media (min-width:1200px) {
  .team__imgCirculo{
  display: inline-block;
  margin-left: -10rem;
}
}

.team__img img{  
  border-radius: 25px;
  height: 40rem;
}
.contact{
  padding: 3rem;
  background: linear-gradient(21deg,rgba(170, 100, 35, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(60, 130, 130, 1) 100%);
}
.contact__flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  
}
@media (min-width:768px) {
  .contact__flex{
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly  ;
    align-items: flex-end;
    gap: 4rem;
    padding: 0 0 7rem 0;
    margin-bottom: 0;
  }
}
.contact__heading h2{
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}
@media (min-width:768px) {
  .contact__heading h2{
    text-align: left;
  }
}

.contact__img{
  width: 40rem;
}
.contact__contacts{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.contact__contacts--tipe h2{
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
}

.contact__contacts--tipe a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width:768px) {
  .contact__contacts--tipe a, .contact__contacts--tipe h2{
    text-align: left;
  }
}

.footer{
  backdrop-filter: blur(3px);
  grid-column: 2 / 5;
  grid-row: 5 / 6;
  text-align: center;
}
.footer p{
  font-size: .9rem;
  color: #f5f2eb;
  margin: 0;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: #f5f2eb;
  text-decoration: underline;
}